<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(${mode == 'create' ? 'Add New Item' : 'Edit Item'})}"></head>

<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container container--constrained mt-5 px-3">

        <div class="row">

            <div class="col-lg-6">

                <div th:if="${mode == 'create'}">
                    <div class="mb-4">
                        <h1>Add New Item</h1>
                    </div>

                    <div th:replace="~{items/item-add-form :: item-add-form}"></div>
                </div>

                <div th:if="${mode == 'edit'}">
                    <div class="mb-4">
                        <h1 th:text="${itemDetails.name}">Item Name</h1>
                        <p th:text="|SKU: ${itemDetails.sku}|">Item SKU</p>
                    </div>

                    <div th:replace="~{items/item-edit-form :: item-edit-form}"></div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>