<div th:fragment="item-mobile-card(items)">
    <div class="row">

        <div th:each="item : ${items}" class="mb-3 col-12 col-sm-10">

            <div class="card shadow-sm app-card ">
                <div class="card-body">

                    <h2 th:text="${item.name}" class="mb-0">Item Name</h2>

                    <div th:text="${item.sku}" class="label-text-soft mb-1">SKU</div>

                    <div class="mb-2">
                        <span th:text="${item.currentQuantity}" class="app-metric-value"></span>
                        <span th:text="${item.unit}" class="app-metric-unit"></span>

                        <div th:if="${item.lowStock}" class="low-stock-indicator mt-1">
                            <i class="bi bi-exclamation-triangle"></i>
                            Low Stock
                        </div>
                    </div>

                    <div th:text="|Reorder Threshold: ${item.reorderThreshold}|" class="label-text-soft mb-1">
                        Reorder
                        Threshold</div>

                    <div class="text-end">
                        <a class="btn btn-sm btn-primary" th:href="@{/items/{id}(id=${item.id})}">
                            View Details
                        </a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>