<div th:fragment="item-add-form" class="card app-card">

    <div class="card-body">

        <form th:action="@{/items}" th:object="${item}" method="post">

            <div class="form-group mb-3">
                <label for="name" class="label-text-soft">Name:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control"
                    th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" />

                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
            </div>

            <div class="form-group mb-3">
                <label for="sku" class="label-text-soft">SKU:</label>
                <input type="text" id="sku" th:field="*{sku}" class="form-control"
                    th:classappend="${#fields.hasErrors('sku')} ? 'is-invalid'" />

                <div th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}" class="text-danger"></div>
            </div>

            <div class="form-group mb-3">
                <label for="reorderThreshold" class="label-text-soft">Reorder Threshold:</label>
                <input type="number" id="reorderThreshold" th:field="*{reorderThreshold}" class="form-control"
                    th:classappend="${#fields.hasErrors('reorderThreshold')} ? 'is-invalid'" />

                <div th:if="${#fields.hasErrors('reorderThreshold')}" th:errors="*{reorderThreshold}"
                    class="text-danger"></div>
            </div>

            <div class="form-group mb-3">
                <label for="unit" class="label-text-soft">Unit:</label>
                <input type="text" id="unit" th:field="*{unit}" class="form-control"
                    th:classappend="${#fields.hasErrors('unit')} ? 'is-invalid'" />

                <div th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}" class="text-danger"></div>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">Add Item</button>
                <a th:href="@{/dashboard}" class="btn btn-outline-secondary">Cancel</a>
            </div>

        </form>

    </div>

</div>